{% extends './base.html' %}
{% load static %}
 

{% block content %}

<h3 class="text-center m-4">
    Add student
    {% if success %}
        <div class="alert alert-success" role="alert">
            The New Student was Added Successfully
            <a href="{% url 'index' %}" class="alert-link"> Go to HomePage.</a>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-6 ">
                <div class="card text-primary  mb-3" >
                    <div class="card-header">
                        <i class="fa-solid fa-address-card fa-lg"></i> Student Regstration
                    </div>
                    <div class="card-body">
                        <form action="{% url 'add' %}" method="POST">
                            {% csrf_token %}
                            {{form.as_p}}
                            <button class="btn btn-primary" type="submit">Add</button>
                            <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                  </div>
            </div>
        </div>

    {% endif %}
</h3>

{% endblock %}